*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.ps
*.synctex
*.synctex.gz
*.nav
*.snm
*.vrb
*.fdb_latexmk
*.fls
*.xdv
*.run.xml
*.mtc*
*.maf
*.nav
*.snm
*.toc
*.pyg
*.log
*.bbl
*.blg
*.auxlock
*.synctex(busy)
*.synctex.gz(busy)
*.tex